## OX_LIB ##

setr ox:primaryColor blue
setr ox:primaryShade 8
setr ox:userLocales 1
setr ox:progressPropLimit 2
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

## OX_INVENTORY ##

setr inventory:framework "QB"
setr inventory:slots 50
setr inventory:weight 85000
setr inventory:dropslots 50
setr inventory:dropweight 30000
setr inventory:target true
setr inventory:police ["police", "sheriff"]
setr inventory:networkdumpsters 0
setr inventory:imagepath "nui://ox_inventory/web/images"
setr inventory:autoreload true
setr inventory:screenblur true
setr inventory:keys ["F2", "K", "TAB"]
setr inventory:enablekeys [249]
setr inventory:aimedfiring false
setr inventory:giveplayerlist false
setr inventory:weaponanims true
setr inventory:itemnotify false
setr inventory:weaponnotify false
setr inventory:dropprops false
setr inventory:dropmodel "prop_med_bag_01b"
setr inventory:weaponmismatch true
setr inventory:ignoreweapons []
setr inventory:suppresspickups 1
setr inventory:disableweapons 0
setr inventory:enablestealcommand 1
setr inventory:disablesetupnotification 0
set inventory:versioncheck true
set inventory:clearstashes "6 MONTH"
set inventory:bulkstashsave 1
set inventory:webhook ""
set inventory:loglevel 1
set inventory:randomprices false
set inventory:randomloot true
set inventory:evidencegrade 2
setr inventory:trimplate true
set inventory:vehicleloot [
    ["cola", 1, 1],
    ["water", 1, 1],
    ["garbage", 1, 2, 50],
    ["panties", 1, 1, 5],
    ["money", 1, 50],
    ["money", 200, 400, 5],
    ["bandage", 1, 1]
]
set inventory:dumpsterloot [
    ["mustard", 1, 1],
    ["garbage", 1, 3],
    ["money", 1, 10],
    ["burger", 1, 1]
]
set inventory:validhosts {
    "r2.fivemanage.com": true,
    "i.fmfile.com": true
}
setr inventory:dropmarker {
    "type": 2,
    "colour": [150, 30, 30],
    "scale": [0.3, 0.2, 0.15]
}
setr inventory:shopmarker {
    "type": 29,
    "colour": [30, 150, 30],
    "scale": [0.5, 0.5, 0.5]
}
setr inventory:evidencemarker {
    "type": 2,
    "colour": [30, 30, 150],
    "scale": [0.3, 0.2, 0.15]
}
setr inventory:craftingmarker {
    "type": 2,
    "colour": [150, 150, 30],
    "scale": [0.3, 0.2, 0.15]
}
set inventory:accounts ["money"]

## OX_TARGET ##

setr ox_target:toggleHotkey 0
setr ox_target:defaultHotkey LMENU
setr ox_target:drawSprite 1
setr ox_target:defaults 1
setr ox_target:debug 0
setr ox_target:leftClick 1